body{
    margin: 0px;
}
#header-img{
    height: 75vh;
    background-image: url(resume.jpeg);
    background-attachment: fixed;
}
.list-home li a{
    text-decoration: none;
 
  margin: 20px; 
    color: red;
    font-weight: 700;
 } 

.list-home li a:hover{
    color: white;
    
}  

.nav-border li a:hover{
   border-bottom: 1px solid white;
     transition: color 0.5s, border-bottom 4s
  }


.list-home{
    list-style: none;
    text-align: center; 
    margin-top: 0px;
   
    
}
.list-home li{
     display: inline-block;
     margin-top: 20px;
     
}
.color-icon li a i{
   color: white;

    font-size: 2rem;
    
}
.color-icon li a i:hover{
      color: rgb(204, 22, 22);  
      padding: 8px;  
    box-shadow: 0px 0px 6px 4px rgb(212, 8, 8);
    
    border-radius:50% ;
}
.person-name{
    text-align: center;
    font-size: 2rem;
     margin-top: 150px; 
    color: rgb(185, 14, 80);
    
}
.person-name h1:hover{
    color: white;
     transition: color 0.5s, border-bottom 4s;
    
    /* border-bottom: 1px solid white;  */
} 








#main-img img{
   /* border-radius: 1011111000000px 1011111000000px 1011111000000px  */
   1011111000000px;
   border: 1px solid ;
   /* padding: 1px; */
   width: 150px;
   border-radius: 90%;
   box-shadow: 0px 0px 16px 1px red;
   
   
}

#main-img{
    text-align: center;
 padding: 10px;   
}

.main-para p{
    font-weight: 200;
  
    text-align: center;
      text-align: justify;
    color: blue;
    font-size: 30px;
    margin-left: 230px ;
    margin-right: 230px;
    padding: 10px;
    /* background-color:#d9cdcd; */


}